<!DOCTYPE html>
<html lang="ko-KR">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI 디자인 ← 이디야 커피(Ediya Coffee)</title>
    <meta name="description" content="이디야 커피 브랜드 사이트 (학습용) UI 디자인 페이지입니다." />
    <meta name="keywords" content="이디야, 커피, 브랜드, 사이트, 학습용, UI 디자인, 이듬, 블렌디드 러닝" />
    <meta name="author" content="이듬(E.UID)" />
    <meta name="robots" content="index,follow" />

    <!-- 스타일링 -->
    <link rel="stylesheet" href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" />
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css" />

    <!-- 스크립트: 즉시 실행 -->
    <script src="../js/controls/polyfillsControl.js"></script>

    <!-- 스크립트: DOM 콘텐츠 준비 이후 실행 -->
    <script src="../js/controls/navigationControl.js" defer></script>
    <script src="../js/controls/goToTopControl.js" defer></script>
    <script src="../js/controls/landingControl.js" defer></script>
  </head>

  <body>

    <div class="app uiDesign">
      <div class="appHeader__container">
        <header class="appHeader">
          <h1 class="appHeader__brand">
            <a href="../index.html"><img src="../images/brand.svg" alt="Ediya Coffee" class="response" /></a>
          </h1>
          <button type="button" class="button openAppNavigation" aria-label="메뉴 열기" title="메뉴 열기">
            <span class="ir" />
          </button>
          <nav class="appNavigation">
            <h2 class="a11yHidden">메인 메뉴</h2>
            <ul class="resetList">
              <!-- 비동기 데이터 바인딩 → 내비게이션 리스트 렌더링 -->
            </ul>
            <script type="text/template" id="template__navigationList">
                  <li data-id="{item.id}"><a href="{item.link}">{item.text}</a></li>
                </script>
            <button type="button" class="button closeAppNavigation" title="메뉴 닫기" aria-label="메뉴 닫기">
              <span class="close" aria-hidden="true">×</span>
            </button>
          </nav>
        </header>
      </div>
      
      <main class="appMain">
        <h2 class="a11yHidden">이디야 UI 디자인 &amp; 프로토타입</h2>
        <div class="uiDesign__group">
          <article class="figmaEmbed__wrapper">
            <h3 class="figmaEmbed__title">이디야 커피 사이트 디자인 (학습용)</h3>
            <iframe title="이디야 커피 사이트 디자인 (학습용)" class="figmaEmbed" src="//bit.ly/3czOnuu" allowfullscreen />
          </article>
          <article class="figmaEmbed__wrapper">
            <h3 class="figmaEmbed__title">모바일 UI</h3>
            <iframe title="이디야 모바일 UI" class="figmaEmbed" src="//bit.ly/2S2k5al" allowfullscreen />
          </article>
          <article class="figmaEmbed__wrapper">
            <h3 class="figmaEmbed__title">태블릿/데스크탑 UI</h3>
            <iframe title="이디야 태블릿/데스크탑 UI" class="figmaEmbed" src="//bit.ly/33VzIWw" allowfullscreen />
          </article>
          <article class="figmaEmbed__wrapper">
            <h3 class="figmaEmbed__title">디자인 시스템</h3>
            <iframe title="이디야 디자인 시스템" class="figmaEmbed" src="//bit.ly/3kRPloV" allowfullscreen />
          </article>
        </div>
      </main>
      
      <footer class="appFooter">
        <div class="appFooter__container">
          <div class="appFooter__brand">
            <img src="../images/brand-dark.svg" alt="EDIYA COFFEE" />
          </div>
          <ul class="appFooter__guideList resetList">
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">멤버스 이용약관</a></li>
            <li><a href="#">가맹 안내</a></li>
            <li><a href="#">대량쿠폰구매</a></li>
            <li><a href="#">채용안내</a></li>
            <li><a href="#">고객의 소리</a></li>
            <li><a href="#">사이트맵</a></li>
            <li><a href="#">점주의 방</a></li>
          </ul>
          <address class="appFooter__address">
            <span>서울특별시 강남구 논현로 636 이디야빌딩(서울특별시 강남구 논현동 221-17)</span>
            <span><b>TEL : </b>02-543-6467</span>
            <span><b>FAX : </b>02-543-7191</span>
            <span><b>사업자등록번호 : </b>107-86-16302</span>
            <span><b>통신판매업 신고 : </b>강남 제 002519호</span>
            <span><b>대표이사 : </b>문창기</span>
          </address>
          <small class="appFooter__copyright">&copy; 2017 EDIYA COFFEE COMPANY. ALL RIGHTS RESERVED..</small>
        </div>
      </footer>
    </div>

  </body>

</html>